
*{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;

}


.content-wrapper {
    width: 1400px;

}

.headers-navigation-list {
    width: fit-content;
    padding: 32px 0;
    margin: 0 auto;

}
.blue-text {
    color: #04959E;
    font-weight: 600;

}
.headers-navigation-item {
    display: inline-block;
    margin: 0 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;

}
.headers-navigation-link {
    color: #000;
}

.paragraph{

    text-align: justify;
    margin-bottom: 24px;
    margin-left: 272px;
    margin-right: 272px;
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
}
h2{
    width: 1400px;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    margin-top: 88px;
    justify-content: right;
}


.list {
    margin-left: 272px;
    margin-right: 272px;
    padding-left: 20px;
    width: 856px;
    list-style-type: decimal;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

}

.line {
    height: 1px;
    background-color: #161616;
}

.button {
color: #FFF;
background: #04959E;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 135%;
padding: 10px 24px;
display: flex;
margin: auto;
margin-bottom: 88px;
margin-top: 40px;
}


.footers-text{

    padding: 16px 0;
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}